.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}
.grid_user {
  background-color: blue;
}
.grid_comp {
  background-color: lightgreen;
}
.grid_item {
  width: 40px;
  height: 40px;
  background-color: red;
}
