.container {
  display: flex;
}
.grid_display {
  width: 400px;
  height: 400px;
  background-color: yellow;
  margin: 20px;
}
.ship {
  display: flex;
  margin: 10px;
}
.ship_cell {
  width: 40px;
  height: 40px;
}
.destroyer_container {
  width: 80px;
  height: 40px;
  background-color: orange;
}
.submarine_container,
.cruiser_container {
  width: 120px;
}
.submarine_container {
  background-color: pink;
}
.cruiser_container {
  background-color: purple;
}
.battleship_container {
  width: 160px;
  background-color: aqua;
}
.carrier_container {
  width: 200px;
  background-color: green;
}
